body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

    color: #333;

    
 
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid black 
    }
    
h1{ text-align: center;
    color: black;
    border-radius: 1px solid balck;
    background-color:#333;
    color: aliceblue;

}
#cabecera
{
    background: blue;
    color: white;
    margin: 0 auto;
    padding: 20px ;
    font-weight: bold;
    box-shadow: 0px 2px 50px rgba(0,0,0,0) }
#footer{
    color: beige;
    background-color: black;
    text-align: center;
    width: 0 auto;
    height: 50px;

}